@import url('https://fonts.googleapis.com/css2? family=Oxígeno&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@300&display=swap');

:root{
    --font-oxigeno: 'Oxygen', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --bg-primary :#003817;
    --bg-li-hover: #46685b;
    --bg-secondary: #009d71;
    --bg-third: #026842;
    --bg-four: #5ccda7;
    --bg-five: #98ffe0;
    --bg-six: #054A49;
    --fc-wh: #fff;
    --fc-dark: #000;
    --fc-footer: #b6babf;

}
