.banner{
    text-align: center;
    background-color: var(--bg-four);
    color: var(--fc-dark);
    top:50%;
    line-height: 1.5;
    padding: 10px;
}

.closeButton{
    float: right;
    cursor: pointer;
}